@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --dark-elements: hsl(209, 23%, 22%);
  --dark-Bg: hsl(207, 26%, 17%);
  --light-text: hsl(200, 15%, 8%);
  --light-input: hsl(0, 0%, 50%);
  --light-Bg: hsl(0, 0%, 99%);
  --dark-text: hsl(0, 100%, 100%);
}
@theme inline {
  --color-dark-elements: var(--dark-elements);
  --color-dark-Bg: var(--dark-Bg);
  --color-light: var(--light-text);
  --color-light-input: var(--light-input);
  --color-light-Bg: var(--light-Bg);
  --color-dark: var(--dark-text);
}
@media (prefers-color-scheme: dark) {
  :root {
    color: var(--dark-text);
    background-color: var(--dark-Bg);
  }
}
body {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--light-text);
    background-color: var(--light-Bg);
  }
}
